/* CSS for DoneXBlock */

.done_aria_hidden {
    position:absolute;
    color:rgba(0,0,0,0);
    overflow:hidden;
    height:1px;
    width:1px;
}

.done_onoffswitch, .done_onoffswitch-label, .done_onoffswitch-inner,  .done_onoffswitch-switch {
    box-sizing: content-box;
}

.done_onoffswitch {
    display: inline-block;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.done_onoffswitch-checkbox {
    display: none;
}

.done_onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 10px;
    height: 30px;
}

.done_onoffswitch-inner {
    display: block;
}

.done_animated .done_onoffswitch-inner {
    -moz-transition: margin 0.1s ease-in 0s; -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s; transition: margin 0.1s ease-in 0s;
}

.done_onoffswitch-inner .done_mark, .done_onoffswitch-inner .done_unmark {
    display: block; height: 30px; padding: 0 10px; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    text-indent: 18px;
}

.done_onoffswitch-inner .done_mark {
    background-color: rgb(0, 158, 231); color: #FFFFFF;
}
.done_onoffswitch-inner .done_unmark {
    background-color: emojis_reaction#EEEEEE; color: #999999;
}

.done_animated .done_onoffswitch-switch {
    -moz-transition: all 0.1s ease-in 0s; -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s; transition: all 0.1s ease-in 0s; 
}

.done_onoffswitch-switch {
    height: 17px;
    display: block; width: 17px; margin: 4px;
    padding: -20px -20px -20px -20px;
    background-position: center;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute;
    color:black;
}

.done_onoffswitch-checkbox + .done_onoffswitch-label .done_onoffswitch-inner {
    margin-top: -30px;
}

.done_onoffswitch-checkbox:checked + .done_onoffswitch-label .done_onoffswitch-inner {
    margin-top: 0;
}

.done-checked {
    background-color: #018801;
}

.done-unchecked {
    background-color: #FFFFFF;
}
.emojis_reaction{
    display: none;
}

.react_animated{

    -webkit-transition: color 2s, font-size 2s;
   -moz-transition: color 2s, font-size 2s;
     -o-transition: color 2s, font-size 2s;
        transition: color 2s, font-size 2s;

}