{% load i18n %}
<div style="padding: 10px">

<p>Please choose the if unmarking feature should be enabled or disabled for students </p>
<input type="radio"  id="disabled_{{ id }}" value="disabeled"  name="unmarking_{{ id }}" checked />
<label for="disabled_{{ id }}">Disabeled</label>
<input type="radio" id="enabled_{{ id }}" value="enabled"  name="unmarking_{{ id }}"/>
<label for="enabled_{{ id }}">Enabled</label>

<!--
  <p>{% blocktrans %}This is a very simple component with no configuration
  options. It is used for helping student keep track of what
  portion of a course they've completed. For example, you might
  place this underneath each text and video component, and students
  can see in their progress page which portions are completed and 
  which still need to be watched or read.{% endblocktrans %}</p>

  <p>{% blocktrans %}It is also helpful to give students a way to sign off on having
  completed something. They are less likely to skip material that
  way.{% endblocktrans %}</p>

  <p> <small>{% blocktrans %}(If you're a real power-user, in OLX, we do allow you to
    add an align tag, which can left-, center-, or right-justify the
    XBlock){% endblocktrans %}</small> </p>
    -->
</div>
